body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
    ;
  font-size: calc(2px + (29) * (200vw - 300px) / 6000);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article {
  display: inline-block;
  width: 60%;
  padding: 0px 0px 0px 5%;

}

#logo {
  text-align: right;
  display: block;
  width: 22%;
}

.instructions {

  margin-top: 0px;
}

#instructions_button {

}

#reset_button {
  float: right;
  padding: 5% 5% 5% 5%;
  background-color: rgb(236, 55, 55);
  border: none;
}

.end_float {
  clear: both;
}

#deck_back {
  width: 30%;
}

.inline_settings {
  float: left;
}

#played_cards {
  float: left;
  width: 28%;
  /* padding-left: 30%; */
  /* height: 50vw; */
  /* padding: 1px; */
  min-height: 250px;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 2px;

}

#deck {
  float: left;
  width: 65%;
  margin: 10% 0px 0px 4%;
  min-height: 250px;
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 2px 2px;
}

#whole_deck {
  padding: 5% 0px 0px 0px;
}

#card_form {
  width: 50%;
  text-align: center;
  margin: auto;
}

.cards {
  height: 50px;
  width: 98%;
  padding: 0px 1% 0px 1%;
  font-size: 1.5em;
  display: inline-flex;
  justify-content: space-between;

}

.deck_cards {
  width: 45%;

}

.line_break {
  padding-left: 7%;
}

.card_images {
  text-align: right;
  height: calc(10px + (24) * (200vw - 300px) / 1700);
  line-height: 50px;
  vertical-align: middle;
  /* width: 5%; */
}

.image_place {
  text-align: right;
}

.list_names {
  margin: 0px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px 0px 2px 0px;
}


nav {
  display: inline-block;
  width: 20%;
  height: 100vw;
  /* padding: 1px; */
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 0px 0px;
  background-color: white;

}
nav div {
  display: block;
  text-align: right;
  padding: 10%;
  margin-left: auto;
  width: 40%;
  padding: 5%;
  background-color: white;
  border-style: solid;
  border-color: rgb(88, 88, 88);
  border-width: 2px 0px 0px 0px;

}

.last_link {
  border-width: 2px 0px 2px 0px;
}

footer {
  text-align: center;
}
